<div class="card">
  <div class="card-body">
      <h1 class="">About US </h1>
      <p>Minim sint tempor in nulla reprehenderit consectetur in tempor culpa duis irure id velit cillum ea officia est nostrud nulla aliquip pariatur cupidatat aute duis nisi eiusmod sint mollit proident.</p>
  </div>
</div>