<div class="jumbotron">

<h1 class="display-4">Node aplicación con MongoDB</h1> 


<p class="lead">Aplicación de notas con NODE JS </p>  

<hr class="my-4">

<p>Dolor exercitation sed ut dolor officia eiusmod irure minim velit laborum duis ad exercitation dolor proident magna eu eu elit proident ut cillum esse elit id veniam est.</p> 

 <a href="/users/signup" class="btn btn-primary btn-lg">Miweb</a>  



</div>